<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Secure Sign In.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF51ACC11C33D68500A92A88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF51ACD51C33D68500A92A88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF51ACE01C33D68500A92A88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
